DATASET_DIR=/home/brb/Downloads/dados_desafio_jusbrasil/dados_desafio_jusbrasil
DB_PATH=/home/brb/Downloads/dados_desafio_jusbrasil/dados_desafio_jusbrasil/desafio1_bracis.db
GOLDENSET_PATH=/home/brb/Downloads/dados_desafio_jusbrasil/dados_desafio_jusbrasil/goldenset.xlsx
INPUT_DIR=/home/brb/Downloads/dados_desafio_jusbrasil/dados_desafio_jusbrasil/txt
OUTPUT_DIR=./output
